#ifndef CONFIG_ESP32
  #define CONFIG_ESP32
  #define _SSID "SSID"
  #define _PASSWORD "PASSWORD"
  #define _SENSOR_URL "http://SERVER IP:PORT/sensor"
  #define _COMMAND_URL "http://SERVER IP:PORT}/api/command"
  #define _SOIL_PIN YOUR_PIN_SOIL
  #define _RELAY_PIN YOUR_PIN_RELAY

#endif // CONFIG_ESP32
